body {
  background-color: #343a40;
  color: #ffffff;
}
.slink {
  text-decoration: none;
  color: #ffffff;
}
.service {
  background-color: #333 !important;
  color: #ffffff;
}
.popover .btn {
  z-index: 1000 !important;
  background-color: #333 !important;
  color: #ffffff;
}
.holder {
  background-color: #333;
  display: flex;
  font-size: 100%;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.service img {
  margin: 5px;
}